body {
  font-size: small;
  font-family: verdana, helvetica, arial, sans-serif;
  line-height: 1.6em;
  background-color: #955918;
}

.navv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: #ffffff;
  padding: 30px 10px;
}

.navv > li {
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper {
  max-width: 1110px;
}

h1,
h2 {
  color: #d2c3b7;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}